*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    width: 90vw;
    max-width: 1680px;
    height: 432px;
    background-size: cover;
    background-position: center;
}
.title-box{
    width: 348px;
    height: 432px;
    background-color:rgba(0, 0, 0, .45);
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding-top: 20px;
    /* 背景模糊 */ 
    backdrop-filter: blur(3px);
}
.title{
    height: 43px;
    line-height: 43px;
    text-indent: 40px;
    font-size: 12px;
    cursor: pointer;
    /* 文本不换行 */
    white-space: nowrap;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 字体大小改变过渡 */
    transition: font-size 0.1s;
}
.title span{
    font-size: 13px;
    opacity:0;
}
.title.active{
    color: #ff5c38;
    font-size: 22px;
    font-weight: bold;
}
.title.active span{
    opacity: 1;
}